*{
    margin:0;
    padding: 0;
}

.box-container{
    margin-top: 100px;
    margin-left: 100px;
    width: 200px;
    border: 2px solid grey;
    border-radius: 10px;
}
h1{
    text-align: center;
}

.btn-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.buttons{
    width: 50px;
    height: 40px;
    margin: 3px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

#display{
    margin: 10px 10px;
    width: 85%;
    font-size: 35px;
    border-radius: 5px;
}
